# OSX files
**/.DS_Store
.DS_Store

# Temporary working files
*.npy
*.compressed
*.db
*.db-shm
*.db-wal

# Alignments files
#    ignored because they're too big for github
projects/*/alignments

# Consider ignoring all projects files

# Python caches
__pycache__/*
__pycache__/*.pyc
*.pyc

*.joblib

# Virtualenv
dh-trace-venv/*

# vsCode configuration files
.vscode

# Cytoscape files
cytoscape-layouts/*
py4cytoscape.log

# Temporary csv files
**/*.csv

# Logs
notebooks/logs/*
notebooks/logs/py4cytoscape.log

# Bash variables Python can use
.current_project
.alignments_file_name

# Lock files
*.lock
.ipynb_checkpoints/
